{% load static %}

<div class="compracont">
    <div class="cinema_">
        <div class="legenda">
            <h5>LEGENDA</h5>
            <div><img src="{% static 'img/assento_disp.png' %}" alt=""><p>assento disponivel</p></div>
            <div><img src="{% static 'img/assento_selecionado.png' %}" alt=""><p>assento selecionado</p></div>
            <div><img src="{% static 'img/assento_ocup.png' %}" alt=""><p>assento ocupado</p></div>
        </div>
        <div class="cinema">
            <div class="sala" id="cadera"></div>
            <div class="tela"> TELA </div> 
        </div>
        
    </div>
    <div class="compra">
        <button class="btn" id="bt_compra">COMPRAR</button>
        <div class="preco">
            <h3>Preço: R$<p id="preco">0</p>,00</h3>
        </div>
    </div>
</div>

