{% extends 'index.html' %}
{% load static %}

{% block titulo %}
<title>Checkout</title>
<link rel="stylesheet" href="{% static 'css/Checkout.css' %}">
{% endblock %}

{% block conteudo %}
<form method="post" action="{% url 'finalizar_compra' %}    ">
{% csrf_token %}
<div class="ingressos">
    {% for assento in dados.assentos_escolhidos %}
        <div class="ingresso">
            <div class="info">Sala {{ dados.sala }}</div>
            <div class="info">{{ dados.filme }}</div>
            <div class="info">Sessão: {{ dados.pk }}</div>
            <div class="info">Cadeira: {{ assento }}</div>
            <div class="info">
                Tipo do ingresso:
                <select name="tipo_ingresso_{{ assento }}" id="ingresso-{{ assento }}" onchange="atualizarPrecoIngresso('{{ assento }}', {{ filme.pk }})">
                    <option value="inteira" data-preco="{{ dados.inteira }}" selected>Inteira</option>
                    <option value="meia" data-preco="{{ dados.meia }}">Meia</option>
                    <option value="vip" data-preco="{{ dados.vip }}">Vip</option>
                </select>
            </div>
            <div class="info">Preço: <p id="preco-{{ assento }}">R${{ dados.inteira }}</p></div>
        </div>
    {% endfor %}
</div>
            

    <div class="bomboniere">
        <div class="title">BOMBONIERE</div>
        <div class="bomboniereContent">
            <div class="comida">
                {% for item in dados.preco %}
                    {% if item.tipo == 'pipoca' %}
                        <div class="comidacontent" onclick="click('{{ item.id_produto }}')">
                            <img src="{% static 'img/pipoca.png' %}" alt="">
                            <p>{{ item.descricao }}</p>
                            <p>R${{ item.preco }}</p>
                            <input type="text" name="quantidade_{{ item.id_produto }}" value="0" min="0" onchange="preco('{{ item.id_produto }}')" id="{{ item.id_produto }}" readonly>
                            <div class="botoes">
                                <input type="button" value="-" onclick="menos('{{ item.id_produto }}', -{{ item.preco }})" class="menos">
                                <input type="button" value="+" onclick="mais('{{ item.id_produto }}', {{ item.preco }})" class="mais">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="comida">
                {% for item in dados.preco %}
                    {% if item.tipo == 'refrigerante' %}
                        <div class="comidacontent">
                            <img src="{% static 'img/refrigerantes.png' %}" alt="">
                            <p>{{ item.descricao }}</p>
                            <p>R${{ item.preco }}</p>
                            <input type="text" name="quantidade_{{ item.id_produto }}" value="0" min="0" onchange="preco('{{ item.id_produto }}')" id="{{ item.id_produto }}" readonly>
                            <div class="botoes">
                                <input type="button" value="-" onclick="menos('{{ item.id_produto }}', -{{ item.preco }})" class="menos">
                                <input type="button" value="+" onclick="mais('{{ item.id_produto }}', {{ item.preco }})" class="mais">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="comida">
                {% for item in dados.preco %}
                    {% if item.tipo == 'chocolate' %}
                        <div class="comidacontent">
                            <img src="{% static 'img/chocolate.png' %}" alt="">
                            <p>{{ item.descricao }}</p>
                            <p>R${{ item.preco }}</p>
                            <input type="text" name="quantidade_{{ item.id_produto }}" value="0" min="0" onchange="preco('{{ item.id_produto }}')" id="{{ item.id_produto }}" readonly>
                            <div class="botoes">
                                <input type="button" value="-" onclick="menos('{{ item.id_produto }}', -{{ item.preco }})" class="menos">
                                <input type="button" value="+" onclick="mais('{{ item.id_produto }}', {{ item.preco }})" class="mais">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="compra">
            <!-- Input hidden para enviar o Id_sessao -->
    <input type="hidden" name="sessao_id" value="{{ dados.pk }}">
    <input type="hidden" name="sessao_assentos" value="{{ dados.assentos_escolhidos }}">
        <input type="submit" value="COMPRAR">
        <div class="preco">
            Preço total: <p id="precototal">R$0,00</p>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    var y = 0;

    function menos(i, x) {
        let z = document.getElementById(i).value;
        if (parseInt(z) <= 0) {
            return;
        }
        document.getElementById(i).value = parseInt(z) - 1;
        atualizarPrecoTotal(x);
    }

    function mais(i, x) {
        let z = document.getElementById(i).value;
        document.getElementById(i).value = parseInt(z) + 1;
        atualizarPrecoTotal(x);
    }

    function atualizarPrecoTotal(x) {
        y += parseFloat(x);
        document.getElementById('precototal').innerText = 'R$' + y.toFixed(2);
    }

    function atualizarPrecoIngresso(assento, sessao) {
        const select = document.getElementById('ingresso-' + assento);
        const preco = select.options[select.selectedIndex].getAttribute('data-preco');
        document.getElementById('preco-' + assento).innerText = 'R$' + parseFloat(preco).toFixed(2);

        recalcularPrecoTotal();
    }

    function preco(i, x) {
        y += parseFloat(x);
        document.getElementById('precototal').innerText = 'R$' + y.toFixed(2);
    }

    function inicializarPrecoTotal() {
        let totalIngresso = 0;
        document.querySelectorAll("select[name^='tipo_ingresso_']").forEach((element) => {
            const precoInicial = element.options[element.selectedIndex].getAttribute('data-preco');
            totalIngresso += parseFloat(precoInicial);
        });

        let totalBomboniere = 0;
        document.querySelectorAll("input[name^='quantidade_']").forEach((element) => {
            const valor = parseInt(element.value) || 0;
            const precoProduto = parseFloat(element.closest('.comidacontent').querySelector('p:nth-child(3)').innerText.replace('R$', '').replace(',', '.'));
            totalBomboniere += valor * precoProduto;
        });

        y = totalIngresso + totalBomboniere;
        document.getElementById('precototal').innerText = 'R$' + y.toFixed(2);
    }

    function recalcularPrecoTotal() {
        let totalIngresso = 0;
        document.querySelectorAll("select[name^='tipo_ingresso_']").forEach((element) => {
            const precoSelecionado = element.options[element.selectedIndex].getAttribute('data-preco');
            totalIngresso += parseFloat(precoSelecionado);
        });

        let totalBomboniere = 0;
        document.querySelectorAll("input[name^='quantidade_']").forEach((element) => {
            const valor = parseInt(element.value) || 0;
            const precoProduto = parseFloat(element.closest('.comidacontent').querySelector('p:nth-child(3)').innerText.replace('R$', '').replace(',', '.'));
            totalBomboniere += valor * precoProduto;
        });

        y = totalIngresso + totalBomboniere;
        document.getElementById('precototal').innerText = 'R$' + y.toFixed(2);
    }

    document.addEventListener("DOMContentLoaded", inicializarPrecoTotal);
</script>
{% endblock %}
