{% extends 'index.html' %}
{% load static %}

{% block titulo %}
    <link rel=StyleSheet href="{% static 'css/compraStyle.css' %}">

    <title>Compra</title>
{% endblock %}

{% block conteudo %}
{% for x in dados.filmes %}
{% for y in dados.sessao %}
{% if x.id_filme == y.Id_filme_id%}

        <div class="filme">
            <h1 style="text-transform: uppercase;">{{x.nome_filme}}</h1>
            <img src="{{x.foto_cartaz}}">
        </div>
{% endif %}
{% endfor %}
{% endfor %}
{% include 'assentos.html' %}

{% endblock %}
{% block scripts %}
<script>
    var assentos = "{{ dados.assentos }}";
    console.log(assentos);
</script>
<script src="{% static 'js/assentos.js'%}"></script>

{% endblock %} 