{% extends 'index.html' %}
{% load static %}

{% block titulo %}
    <link rel=StyleSheet href="{% static 'css/compra.css' %}">

    <title>Compra</title>
{% endblock %}

{% block conteudo %}
{% for x in dados.filmes %}
{% for y in dados.sessao %}
{% if x.id_filme == y.Id_filme_id%}

        <div class="filme">
            <h1 style="text-transform: uppercase;">{{x.nome_filme}}</h1>
            <img src="{{x.foto_cartaz}}">
            <div class="filmeInfo">
                <div>
                    <h3>Informaçoes sobre a sessão:</h3>
                </div>
                <div class="info">
                    <h3>Sala {{y.sala}} </h3>
                    <h3>{{y.data_sessao}}</h3>
                    <h3>Horario: {{y.horario_sessao}}</h3>
                    {% if y.dub_leg == 'D' %}
                    <h3>Dublado</h3>
                    {% else %}
                    <h3>Legendado</h3>
                    {% endif %}
                    {% if y.modo_2d_3d == '2' %}
                    <h3>2D</h3>
                    {% else %}
                    <h3>3D</h3>
                    {% endif %}
                </div>      
            </div>
        </div>
{% endif %}
{% endfor %}
{% endfor %}

{% include 'assentos.html' %}

{% endblock %}
{% block scripts %}
<script>
    var assentos = "{{ dados.assentos }}";
    var sessao  ="{{ dados.pk }}";
    console.log(assentos);
    console.log(sessao);
</script>
<script src="{% static 'js/assentos.js'%}"></script>

{% endblock %} 