{% extends 'index.html' %}
{% load static %}

{% block titulo %}
<title>Programação</title>
<link rel="stylesheet" href="{% static 'css/progStyle.css' %}">
{% endblock %}

{% block conteudo %}
<div class="containerprog">
    <div class="dataP">
        <select id="dataSelect" name="data" onchange="enviarValor()">
            {% for data in dados.datas %}
            <option value="{{ data.data_sessao }}">{{ data.data_sessao }}</option>
            {% endfor %}
        </select>
    </div>
    {% for x in dados.filmes %}
    {% if x.status == 'A' %}
    <div class="filmeP">
        <img src="{{ x.foto_cartaz }}" alt="{% static 'img/imagem_filmes.png' %}">
        <div class="filmeInfo">
            <a href="{% url 'pagina-escolhido' x.id_filme %}" class="titulo">
                <h1>{{x.nome_filme}}</h1>
                <p>{{x.genero}} </p>
            </a>
            <div class="sessoes">
                {% for y in dados.sessoes %}
                {% if y.data_sessao == dados.hoje and y.Id_filme == x.id_filme %}
                <a href="" class="sessao">
                    <h3>Sessão {{y.ID_Sessao}}</h3>
                    <h3>Horario: {{y.horario_sessao}}</h3>
                    <h3>{{y.dub_leg}}</h3>
                    <h3>{{y.modo_2d_3d}}</h3>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="indicativa">
                {% if x.classificacao == 10 %}
                <img src="{% static 'img/10.png'%}">
                {% elif x.classificacao == 12 %}
                <img src="{% static 'img/12.png'%}">
                {% elif x.classificacao == 14 %}
                <img src="{% static 'img/14.png'%}">
                {% elif x.classificacao == 16 %}
                <img src="{% static 'img/16.png'%}">
                {% elif x.classificacao == 18 %}
                <img src="{% static 'img/18.png'%}">
                {% else %}
                <img src="{% static 'img/livre.png'%}">
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    function enviarValor() {
        var valor = document.getElementById('dataSelect').value;

        // Enviar valor para o servidor usando AJAX
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/processar_valor/', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log('Valor enviado com sucesso!');
            }
        };
        xhr.send(JSON.stringify({ 'valor': valor }));
    }
</script>
{% endblock %}