{% extends 'index.html' %}
{%load static %}

{% block titulo %}
<title>Programação</title>
<link rel="stylesheet" href="{% static 'css/progStyle.css' %}">
{% endblock %}

{% block conteudo %}
<div class="containerprog">
    <div class="dataP">

        <select name="data">
            {% for data in dados.datas %}
                <option value ={{data_esc}}>{{data.data_sessao}}</option>
            {% endfor %}
          </select>
    </div>
    {% for x in dados.filmes %}
    {% if x.status == 'A' %}
    <div class="filmeP">
        <img src="{{ x.foto_cartaz }}" alt="{% static 'img/imagem_filmes.png' %}">  
        <div class="filmeInfo">
                <a href="{% url 'pagina-escolhido' x.id_filme %}" class="titulo">
                    <h1>{{x.nome_filme}}</h1>
                    <p>{{x.genero}} </p>  
                </a>
            <div class="sessoes">
                {% for y in dados.sessoes %}
                {% if y.data_sessao == data_esc %}
                <a href="" class="sessao">
                    <h3>Sessão {{y.ID_Sessao}}</h3>
                    <h3>Horario: {{y.horario_sessao}}</h3>
                    <h3>{{y.dub_leg}}</h3>
                    <h3>{{y.modo_2d_3d}}</h3>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="indicativa">
                {% if x.classificacao == 10 %}
                        <img src="{% static 'img/10.png'%}">
                    {% elif x.classificacao == 12 %}
                        <img src="{% static 'img/12.png'%}">
                    {% elif x.classificacao == 14 %}
                        <img src="{% static 'img/14.png'%}">
                    {% elif x.classificacao == 16 %}
                        <img src="{% static 'img/16.png'%}">
                    {% elif x.classificacao == 18 %}
                        <img src="{% static 'img/18.png'%}">
                    {% else %}
                        <img src="{% static 'img/livre.png'%}">
                    {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}