{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<title>Login</title>
{% endblock %}

{% block conteudo %}
    <div class="conteudo">
        <div class="title">
            <h1>Login</h1>
            <h3>Cadastre-se ou informe seu e-mail e senha para prosseguir</h3>
        </div>

        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="jumbotron">
                {{ form|crispy }}

                <button type="submit" class="btn btn-lg btn-primary">Logar</button>
                <div class="senha">
                    <p>esqueceu sua senha?</p>
                    <p id="senha">clique aqui</p> 
                </div>
                
            </div>
        </form>
    </div>
{% endblock conteudo %}