
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=StyleSheet href="{% static 'css/styles.css'%}">
    <link rel=StyleSheet href="{% static 'css/stylescell.css'%}">
    {% block titulo %}
    <title>Cinetec</title>
    {% endblock %}
</head>
<body>
    <header>
        <div class="headerMenu">
            <div class="logoHeader">
                <img src="{% static 'img/cinetec_logo.png' %}">
            </div>
            <a href="{% url 'pagina-inicio' %}" id="att">INÍCIO</a>
            <a href="programacao.html">PROGRAMAÇÃO</a>
            <a href="{% url 'pagina-sobre' %}">SOBRE NÓS</a>
        </div>
        <div class="headercel">
            <div class="burguer-container">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <a href="{% url 'pagina-inicio' %}">
                <h1>Cinetec</h1>
            </a>
        </div>
        <div class="headerLogin">
            <a href="{% url 'pagina-inicio' %}">LOGIN</a>
            <a href="cadastro.html">CADASTRO</a>
        </div>
    </header>
    <div class="sidebar">
        <div class="sidecont">
            <a href="{% url 'pagina-inicio' %}" id="att">INÍCIO</a>
            <a href="programacao.html">PROGRAMAÇÃO</a>
            <a href="{% url 'pagina-sobre' %}">SOBRE NÓS</a>
        </div>
        <div class="sidelog">
            <a href="login.html">LOGIN</a>
            <a href="cadastro.html">CADASTRO</a>
        </div>
    </div>
<main>
    {% block conteudo %}

    {% include 'Lista_filmes.html' %}

    {% endblock %}
</main>

{% include 'footer.html' %}
</body>
</html>