h3 {
	text-decoration: none;
	color: #DCDCDC;
}
.lead {
	text-decoration: none;
	color: #DCDCDC;
}
.form-group {
	font-size: 1rem;
	color: #F0E68C;
	font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.2em;

}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    height: 90vh;
    padding: 0;
    color: #F0E68C;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
    align-items: center;
    
}

.form-group input{
    color: white;
    width: 20em;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    background-color: #440000;
}

.form-group label{
    padding-left: 3px;
}


.jumbotron button{
    margin-top: 1em;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e7d95d;
    border: 2px solid black;
    transition: .5s;
}

.jumbotron button:hover{
    background-color: #ecd715;
    transition: .5s;
}