/* Estilos gerais para o elemento principal */
main {
    align-items: center;
    justify-content: flex-start;
    gap: 5em;
    padding: 3em 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #F0E68C;
    margin-top: 6rem;
    flex-direction: column;
}

/* Estilos para a seção de ingressos */
.ingressos {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: 1.3em;
}

.info {
    display: flex;
    gap: 5px;
}

.ingresso {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #440000;
    border: 2px black solid;
    border-radius: 10px;
}

/* Estilos para os elementos select */
select {
    border: 2px black solid;
    background-color: #440000;
    color: #F0E68C;
    padding: 3px 6px;
    border-radius: 5px;
}

/* Estilos para a seção de bomboniere */
.bomboniere {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    border: 2px solid black;
    border-radius: 15px;
}

.title {
    font-size: 2em;
    background-color: black;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5em 0;
}

.bomboniereContent {
    display: flex;
    padding: 2em 0;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.comida {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.comida img {
    width: 5em;
}

/* Estilos para os itens da bomboniere */
.comidacontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 2px black solid;
    border-radius: 10px;
    padding: 5px;
    min-width: 180px;
    max-width: 180px;
    justify-content: center;
}

.comidacontent input {
    background-color: black;
    border: 1px black solid;
    width: 1.5em;
    color: #F0E68C;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
}

/* Estilos para os botões */
.botoes input {
    cursor: pointer;
    border: none;
    width: 2em;
    color: black;
}

.menos {
    background-color: #f84031 !important;
}

.mais {
    background-color: #30ce5f !important;
}

/* Estilos para a seção de compra */
.compra {
    width: 70%;
    background-color: #440000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    padding: .5em 0;
    border: 2px black solid;
    border-radius: 15px;
}

.compra input {
    font-size: 2rem;
    background-color: #ebd72b;
    border: 2px black solid;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 15px;
    transition: .5s;
}

.compra input:hover {
    background-color: #ffe600;
    transition: .3s;
}

/* Estilos para a exibição do preço */
.preco {
    display: flex;
    gap: 10px;
}
