main {
	align-items: center;
	justify-content: space-around;
	gap: 3em;
	padding: 3em 0;
	width: 100%;
    flex-direction: row;
    margin-top: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #F0E68C;
    margin-top: 6rem;
}

.filme img {
	width: 100%;
	border-radius: 10px;
	border: 3px solid #F0E68C;
	min-width: 100px;
}
.filme{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2em;
	text-align: center;
    max-width: none;
    max-height: none;
    cursor: default;
}
.cinema{
	width: 550px;
    min-width: 550px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3em;
}
.sala{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 6px;

}
.cinema_{
	display: flex;
	flex-direction: row-reverse;
	gap: 1.5em;
	border-bottom: black solid 3px;
	padding-bottom: 1.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.legenda img{
	width: 30px;
}
h5{
	font-family: Arial, Helvetica, sans-serif;
	color: #F0E68C;
	font-size: 1.5em;
}

.legenda{
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	
	align-items: center;
	font-size: 17px;
}
.legenda div{
	display: flex;
	align-items: center;
	gap: 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	align-self: self-start;
}

.sala img{
	-webkit-user-drag: none;
}
.tela{
	background-color: #b4b4b4;
	color: black;
	width: 97%;
	display: flex;
	justify-content: center;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.cinema img{
	width: 30px;
	cursor: pointer;
}
.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #F0E68C;
	border: none;
	width: 10rem;
	height: 3rem;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 15px;
}

.btn:hover{
	background-color: #ebd93d;
	transition: 0.3s;
}
.compracont{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
	border: solid black 3px;
	min-width: auto;
	
	border-radius: 30px;
	padding-top: 2em;
	padding-bottom: 1.5em;
	background-color: #400000;
	box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.5);
}
h2{
	font-family: Arial, Helvetica, sans-serif;
	color: #F0E68C;
	font-size: 35px;
	width: 100%;
}
h3{
	font-family: Arial, Helvetica, sans-serif;
	color: #F0E68C;
	font-size: 25px;
	width: 100%;
}

.compra{
	display: flex;
	align-items: center;
	gap: 2em;
}
.compra h3{
	font-family: Arial, Helvetica, sans-serif;

}
.preco h3{
	display: flex;
}
