main {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: 10em;
	width: 100%;
}

.containerprog{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5em;
}

.dataP{
	background-color: #440000;
	width: 45em;
	padding: 15px 15px 15px 15px;
	border: 2px black solid;
	border-radius: 10px;
}

.dataP select{
	border: 2px black solid;
	background-color: #440000;
	color: white;
	padding: 3px 6px 3px 3px;
	border-radius: 5px;
}


.filmeP{
	background-color: #440000;
	width: 45em;
	padding: 15px 15px 15px 15px;
	border: 2px black solid;
	border-radius: 10px;
	display: flex;
	color: #F0E68C;
    gap: 15px;
}

.filmeP img{
	width: 30%;
	border: 2px solid black;
	border-radius: 10px;
}

.filmeInfo{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1.5em;
}

.sessoes{
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 100%;
    gap: 1em;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #F0E68C;
}

.indicativa{
    display: flex;
    width: 100%;
    justify-content: end;
}
.indicativa img{
    width: 40px;
}

.sessao{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    color: #F0E68C;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}